/*

--- COLOURS

- Primary: #2E424D
- Tints:
#5B8291
#98DAD9
#EAEbeD

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SET ROOT VALUE TO 10px*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #eaebed;

  overflow-y: hidden;
}

.container {
  max-width: 120rem;
  padding: 3.2rem 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.subheading {
  text-align: center;
  color: #98dad9;
}

.section-heading {
  text-align: center;
  color: #98dad9;
  font-size: 4.2rem;
}

.grid:last-child {
  margin-bottom: 0;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.main-heading,
.secondary-heading,
.tertiary-heading {
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
}

.main-heading {
  font-size: 10rem;
}

.secondary-heading {
  color: #98dad9;
  font-size: 3.2rem;
  font-weight: 500;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #eaebed;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.center-text {
  text-align: center;
}

.blur {
  filter: blur(3px);
}

#asterisk {
  color: red;
  font-size: 2.4rem;
}

/********************************
********* BREAKPOINTS ***********
********************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .main-heading {
    font-size: 8rem;
  }
}

@media (max-width: 65em) {
  .secondary-heading {
    font-size: 3rem;
  }
}

@media (max-width: 63em) {
  .main-heading {
    font-size: 7rem;
  }

  .secondary-heading {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

@media (max-width: 61em) {
  .about-me-hero {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 56em) {
  .main-heading {
    font-size: 6rem;
  }
}

@media (max-width: 50em) {
  .main-heading {
    font-size: 5rem;
  }
}

@media (max-width: 44em) {
  .main-heading {
    font-size: 4rem;
  }
}

@media (max-width: 38em) {
  .main-heading {
    font-size: 3.7rem;
  }
}

@media (max-width: 34em) {
  .main-heading {
    font-size: 6.4rem;
  }
}

@media (max-width: 25em) {
  .main-heading {
    font-size: 5.4rem;
  }
}
